# Optional boot or runtime overrides
WIFI_SSID=your-wifi-ssid
WIFI_PASSWORD=your-wifi-password
MQTT_HOST=69.62.125.223
MQTT_PORT=1883
QBOX_DEVICE_REGISTRATION_URL=https://backend.qbox.sa/devices/
QBOX_TELEMETRY_URL=https://backend.qbox.sa/devices-telemetry/
STREAM_AUTO_START=true
