[Unit]
Description=Smart Locker Hardware Agent
After=network.target

[Service]
Type=simple
User=hegmon
Group=hegmon
WorkingDirectory=/home/hegmon/Documents/smart-locker-hardware
ExecStart=/home/hegmon/Documents/smart-locker-hardware/.venv/bin/python -m app.hardware_agent.main
Restart=always
RestartSec=5

# important for file access stability
UMask=0022

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
